* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1320px;
  margin: 0 auto;
}

/* //////header part start////// */
nav .nav-item {
  width: 80%;
  float: left;
}

nav .nav-item ul {
  text-align: center;
}

nav .nav-item ul li {
  display: inline-block;
  margin-left: 30px;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  padding: 30px 10px;
  
}

nav .nav-item ul li a {
  color: #000;
  text-decoration: none;
}

nav .nav-item ul li a:hover {
  color: #ee7002;
}


nav .icon {
  width: 10%;
  float: left;
  margin-top: 25px;
}

nav .icon i {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(236, 135, 4);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 15px;
}

nav .icon i:hover {
  background: #0f2f44;
  color: #ffc712;
  border-color: #0f2f44;
  cursor: pointer;
}
/* //////header part end////// */

/* //////banner part start////// */
#banner-part {
  background-image: url(../images/banner/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#banner-part .container {
  padding: 180px 0;
}
#banner-part .content {
  width: 500px;
  text-align: right;
  margin-left: auto;
}
#banner-part .content h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
}
#banner-part .content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 25px;
}
#banner-part .content button {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  width: 160px;
  height: 64px;
  background: #f15b22;
  border-radius: 5px;
  border: none;
  margin-top: 35px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}
/* //////banner part end////// */

/* //////about part start////// */
#about-part .container {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about-part .image-part img {
  width: 555px;
  height: 694px;
}
#about-part .text-part {
  margin-right: 50px;
}
#about-part .text-part h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  width: 288px;
  margin-top: 35px;
}
#about-part .text-part p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
  width: 416px;
}
#about-part .text-part ul {
  margin-top: 16px;
  width: 349px;
}
#about-part .text-part ul li {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  list-style: none;
  margin-top: 8px;
}
#about-part .text-part ul li i {
  color: #16d887;
}
/* //////about part end////// */

/* //////plan part start////// */
#plan-part {
  margin-top: 80px;
}
#plan-part .tittle {
  text-align: center;
}
#plan-part .tittle h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
#plan-part .skill {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}
#plan-part .skill h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
#plan-part .skill p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

/* //////plan part end////// */

/* //////call part start////// */
#call-part {
  margin-top: 134px;
  margin-bottom: 134px;
}
#call-part .call-now {
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  border-radius: 8px;
}
#call-part .call-now .text h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  width: 459px;
  margin-left: 64px;
}
#call-part .call-now .text button {
  background: #ffffff;
  border-radius: 5px;
  width: 160px;
  height: 64px;
  border: none;
  margin-left: 64px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #f15b22;
  margin-top: 24px;
  cursor: pointer;
}
/* //////call part end////// */

/* //////count part start////// */

/* //////count part end////// */

/* //////footer part start////// */
footer {
  background: #151414;
  color: #ffffff;
  padding: 80px 0px;
}
footer .container {
  display: flex;
}
footer .left-part {
  margin-left: 80px;
}
footer .left-part .text-part h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}
footer .left-part .text-part p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 485px;
  margin-top: 16px;
}
footer .left-part .icon-part {
  display: flex;
  margin-top: 32px;
}
footer .left-part .icon-part .fb {
  margin-right: 18px;
}
footer .left-part .icon-part .twitter {
  margin-right: 18px;
}
footer .left-part h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
}
footer .right-part {
  margin-left: 180px;
}
footer .right-part h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
}
footer .right-part .input {
  width: 325px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #151414;
  margin-top: 32px;
  padding: 22px 15px;
  color: #ffffff;
}
footer .right-part button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #f15b22;
  margin-top: 18px;
  width: 170.11px;
  height: 64px;
  border-radius: 8px;
  cursor: pointer;
}
/* //////footer part end////// */
